<div class="formulario-container">
  <h2>Envie seu curriculo!!</h2>

  <form #formCurriculo="ngForm">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" [(ngModel)]="curriculo.nome" name="nome">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="curriculo.email" name="email">
    </div>

    <div class="form-group">
      <label>Telefone</label>
      <input type="tel" [(ngModel)]="curriculo.telefone" name="telefone">
    </div>

    <div class="form-group">
      <label>Cidade</label>
      <input type="text" [(ngModel)]="curriculo.cidade" name="cidade">
    </div>

    <div class="form-group">
      <label>Estado</label>
      <input type="text" [(ngModel)]="curriculo.estado" name="estado">
    </div>

    <div class="form-group">
      <label>Resumo Profissional</label>
      <input type="text" [(ngModel)]="curriculo.resumo_profissional" name="resumo_profissional">
    </div>

    <div class="form-group">
      <label>Vaga de Interesse</label>
      <input type="text" [(ngModel)]="curriculo.vaga_interesse" name="vaga_interesse">
    </div>

    <button type="button" (click)="cadastrarCurriculos(formCurriculo)">Cadastrar Curriculo</button>
  </form>
</div>
